<!DOCTYPE html>
<html>
    <head>
        <title> RicoMart | Home</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- If opened with Internet Explorer use lates rendering engine-->
        <meta name="viewport" content="width=device-width" initial-scale="1" />
        <!--<link rel="stylesheet" type="text/css" href="C:\workspace\Angular\angular\RicomartAngular\src\app\bootstrap\css\bootstrap.min.css"> -->
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">    
    </head>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">RicoMart</a>
        </div>
        <ul class="nav navbar-nav navbar-right" style="display: inline;">
            <li>
                <a  routerLink="/welcome"> Welcome <span
                        class="glyphicon glyphicon-bell"></span></a>
            </li>
            <li class="active">
                <a  routerLink="/home"> Home <span
                        class="glyphicon glyphicon-home"></span></a>
            </li>
            <li>
                <a  routerLink="/register"> Register <span
                        class="glyphicon glyphicon-user"></span></a>
            </li>
            <li>
                <a  routerLink="/login"> Login <span
                        class="glyphicon glyphicon-log-in"></span></a>
            </li>
            <li><a routerLink="/list-customers">Customer List</a></li>
        </ul>
    </div>
    </nav>
<body class="bg">
    
        
        
        <div class="container" style="margin-top: 50px;">
            <div class="jumbotron">
    <h2>Home</h2>
</div>
</div>
    <!-- <script src="C:\workspace\Angular\angular\RicomartAngular\src\app\bootstrap\jquery-3_6_4.js"></script> -->
    <!-- <script src="C:\workspace\Angular\angular\RicomartAngular\src\app\bootstrap\js\bootstrap.min.js"></script> -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
<!-- <div class="container-fluid">
    <footer> Copyright RKH Unlimited Inc. &#169; 2023</footer>  
   </div> -->
</html>
